body {
    background-color: rgb(133, 133, 133);
    line-height: 0.5;
}

h1 {
    font-family: 'Hubballi', cursive;
    font-size: 50px
}

h2 {
    font-family: 'Hubballi', cursive;
    font-size: 25px;
}

h3 {
    font-family: 'Hubballi', cursive;
    font-size: 18px;
}

h4 {
    font-family: 'Hubballi', cursive;
    font-size: 20px;
}

p {
    font-family: sans-serif;
    font-size: 15px;
}
